body{
    margin: 0;
    padding: 0;
    font-family: kt-quantum-font ;
    background-color:rgb(34, 34, 34);
}
.header{
    border-bottom: 2px solid #0077be  ;

}
.container{
    width: 100%;
    margin: auto;
    display: flex;
}

.header .container .caixa{
    justify-content: space-between;
}

.header a {
    text-decoration: none;
    color:  #0077be;
}

.caixa{
    display: flex;
    height: 100%;
    width: 100%;
    }

.titulo{
    display: flex;
    margin-left : 100px;
    margin-top:20px ;
    margin-bottom: 10px;
    color: #0077be;
    font-size: 30px;
    text-align: center;
    align-items: center;
}

.caixa .titulo{
    display: flex;
    align-items: center;

}
.agora{
    font-weight: 900;
}

.navbar{
    width: 500px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    padding-right: 12px;
}


.corpo{
    display: flex;
    justify-content: start;
    padding-bottom:180px;
}
.imagem {
    margin-top: 50px;
    margin-left: 150px;
    display: flex;
    justify-content:flex-end;
    padding-right: 60px;

}
.corpo p{
        display: flex;
        justify-content: space-around;
        margin-top: 25px;
        padding: 15;
        width: 900px;
        height: 250px;
        font-size: 45px;
        color: #0077be;
    
       
}


.empresa2{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.empresa2 p{
    display: flex;
    text-align: center;
    font-size: 30px;
   
}

.sobre_nos {
    display: flex;
    color: #0077be;
   

    

}
.tamanho-conteudo {
    display: flex;
    font-size: 45px;
    align-items: end;
    color: #0077be;

}

.empresa2 span {
        display: flex;
        margin-top: 1px;
        margin-left: 15px;
        width: 900px;
        height: 300px;
        font-size: 30px;
}

.empresa2 .tamanho-conteudo{
    display: flex;
    font-size: 45px;
    margin-top: 0;
    justify-content: start;

}

.empresa2 .sobre_nos {
    display: flex;
    font-size: 30px;
    text-align: center;

}

.imagem2{
    display: flex;
    justify-content:flex-end;
    align-items: center;
}


.final{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    border-top: 2px solid #0077be;
}

.contato {
    font-size: 15px;
    font-weight: 200px;
    display: flex;
    flex-direction: column;
    list-style: none;
    text-decoration: none;
    text-align: justify;

}

.final a {
    text-decoration: none;
    color: #0077be;
    margin: 0px
}

 .imagem3 {
    display: flex;
    align-items: center;
    width: 0px;
    margin-left: 400px;
}
.central{
    font-size: 20px;

}

.endereco{
    display: flex;
    font-size: 20px;
    color: #0077be;
    text-align: center;
    align-items: center;
    margin-left: 1px;
    width: 300px;
}


